.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.menu {
  max-height: 100px;
  overflow-y: auto;
}
.navigation {
  background: black;
  padding: 14px 0;
}

.navigation ul.list-inline {
  margin-bottom: 0;
}

.navigation ul.list-inline li a {
  color: #fff;
  font-size: 20px;
}
.autocomplete input {
  width: 100%;
  height: calc(1.5em + .75rem + 2px);
  padding: .375rem .75rem;
  font-size: 1rem;
}
.loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #0000001a;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 23px;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
